.task-form {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  
}

.task-row,
.option-row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.task-row input,
.option-row select {
  flex: 1;
  color: black;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.task-form button {
  background-color: #6ac92a;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
}

.task-form button:hover {
  background-color: #0056b3;
}
